#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  overflow-x: hidden;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

@font-face {
  font-family: "Mokoto";
  src: url("/fonts/mokoto-mokoto-regular-400.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mokoto";
  src: url("/fonts/mokoto-mokoto-regular-glitch-mark-1-400.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mokoto";
  src: url("/fonts/mokoto-mokoto-regular-glitch-mark-2-400.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Mokoto";
  src: url("/fonts/mokoto-mokoto-regular-glitch-mark-outline-400.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Tailwind utility class */
.font-mokoto {
  font-family: "Mokoto", sans-serif;
}
